@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Libre+Franklin:200,300,400,700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Libre Franklin";
    font-weight: 200;
}

.sectioncontainer {
    padding-top: 50px;
    padding-bottom: 80px;
}

/* ---------------------------------------------- Colors */

.dark-bg {
    color: #fee7b6;
    background-color: rgba(29, 29, 29, 1);
}

.light-bg {
    background-color: #fee7b6;
    color: rgb(29, 29, 29);
}

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.yellow-divider {
    background-color: #fee7b6;
}

.dark-divider {
    background-color: rgb(29, 29, 29);
}

.light-link {
    color: #fee7b6;
}



/* ---------------------------------------------- Headings */

h2,
h3,
h4 {
    font-family: "dancing script";
    text-align: center;
    font-size: 3rem;
}

h4 {
    font-size: 2rem;

}

.media-icon {
    font-size: 32px;
}

/* ---------------------------------------------- Header and navbar */

.navbar {
    background: none;
}

.navbar-light {
    color: rgba(29, 29, 29, 1);
}

.nav-link {
    background-color: rgba(254, 231, 182, 0.8);
    border-radius: 15px;
    width: 77px;
    margin-left: 10px;
    text-align: center;
    border: rgba(29, 29, 29, 1) 1px solid;
    font-weight: 700;

}

.navbar-toggler {
    background-color: rgba(254, 231, 182, 0.8);
    border: rgba(29, 29, 29, 1) 1px solid;
}

.jumbotron {
    height: 90vh;
    background: url(../images/bgjt.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.name {
    background-color: rgba(254, 231, 182, 0.8);
    color: rgba(29, 29, 29, 0.8);
    border: rgba(29, 29, 29, 0.8) solid 2px;
    height: 100px;
    width: 400px;
    max-width: 75vw;
    padding-top: 25px;
    border-radius: 100%;
    margin: auto;
    margin-top: 10vh;
    text-align: center;
    font-family: "dancing script";
}

/* ---------------------------------------------- About */

.history-heading {
    margin-bottom: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.5em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: rgb(29, 29, 29);

}

/* ---------------------------------------------- Media */

.carousel-item {
    height: 315px;
}



.carousel-item img {
    margin: auto;
    height: 100%;
}

/* ---------------------------------------------- Contact */

.footnote_opening {
    font-size: smaller;
    font-style: italic;
}

/* ---------------------------------------------- Footer */

.footer {
    height: 50px;
    text-align: center;
    padding: 10px;
}

.footerlist {
    list-style-type: none;
}

.list-item-footer {
    display: inline-block;
    height: 30px;
    color: #fee7b6;
}

.socialicon {
    font-size: 30px;
}

.socialicon:hover {
    color: #dec080
}
